extends ../overview.pug

block blog1 

  #blogbild 
    img(src="assets/editor.png")
  #blogtext
    h2 Introducing the team of zircel and our mission to make the world a better place
    p Although Zircel can be used as an allround, fun tool, we’re not just about fun and simplifing processes. Learn what Zircel stands for and what we want to achieve with our awesome tool, besides making your life easier of course. 
    a(href="teamIntroduction.html") Read more
