extends ../layout.pug
include ../mixins.pug

block head

  - const author = "Jessica"
  - const title = "Introducing the team of Zircel"
  - const date = "2019-11-14"
  - const description = "Welcome to Zircel! You’re one step closer to making your life easier, more efficent and fun! So lean back, get some snacks and tag along as we tell you more about us as a company and as humans"
  
  +meta(title, date, description)
  

block intro 

  h1 Introducing the team of Zircel and our mission to make the world a better place
  
  p Welcome to Zircel! You’re one step closer to making your life easier, more efficient and fun! So lean back, get some snacks and tag along as we tell you more about us as a company and as humans. 

  +authordate(author, date)


block text
    
  h2 How it all started
  p Our journey might be similar to others but it all started quite differently: Sitting in university, drinking our 5th cup of black coffee and listening to the professor while trying to stay focused wasn’t what we lived for in life. We wanted to hands-on build something from scratch.

  img(src="assets/about-us-1.png")
  
  h3 How can we use our acquired knowledge in a manner that helps people?
  p We didn’t want to sit around anymore and wait for something to happen. This was the incentive we needed to be motivated to start our journey with Zircel. At first, it was just Philipp and Roy, two cousins who studied Electrical Engineering and Data Science at ETH and the University of Zurich, that wanted to start a family project.
  
  p Their idea was to make something great out of their knowledge and to start experimenting with the latest and best web technologies, so they could implement a conversational app. Out of this fun, Sunday afternoon activity shortly became a great long-lasting project. They wanted to invent a platform that will help businesses to use conversations in a way that would bridge the gap between them and their users, all by restructuring a website to be more conversational. This is where conversational applications by Zircel grew.
  
  img(src="assets/about-us-2.png")

  h3 What started as a family project started evolving into a firm

  p Soon after their initial idea, another great mind came into place: Roy’s sister and Philipp’s cousin Laura! She soon adapted the excitement of the product and wanted to weigh in. For her it was the chance to enhance her coding-skills and to spend more time with her beloved family.

  p As their excitement and talent came into place and created the great energy that lead to Zircel, the last puzzle piece came along: our informatics-genius Tobias. We scaled up our coding activity, which led to the first version of Zircel.
  
  p A tool for people to create their own conversational website. After a few testers told us about their positive experience we were sure: We want to convince other people and help them to expand their businesses further! 

  h3 Creating Zircels Identity

  p We almost had it all: motivation, a great idea, skills and dedication. What was missing was the perfect market fit. It has been a long journey of finding out about where to place Zircel and what to use it for. By investigating heavily in the business side we managed to came out with our final version: 
  
  p A platform to create conversational applications to simplify business processes and to scale up conversation. But coding and business is not all we are interested in. 

  h3 So what else do we really want to change and achieve with Zircel?

  p Having a great tool is awesome, but it wasn’t enough for us. We wanted to add something great to the world and take part in making it a better place. Even though we’re gifted with great skills from one of the best universities in the world, all this technical knowledge doesn’t matter without having a functioning natural world.

  p That’s why we as a company want to support everyone that tries to make a change, that tries to contribute something good, that tries to combine technology and humanity.

  p Because that’s exactly what we stand for and what our biggest mission is. We want to help people who do good in order to make them do better. That was the mission that got our idea going and that keeps us going right now. 

  p If you’re company really does something good in regard to the environment, to people, to a company or to your clients, we want to help you expand your business and get the recognition you deserve.

  p  So we combined our great platform, our values that we support and our passion and created Zircel: The startup launched in August of 2018! 

  b The start of something great that gets better each day.


