extends ../layout.pug
include ../mixins.pug

block head

  - const author = "Laura"
  - const title = "How to get started with Zircel"
  - const date = "2019-12-27"
  - const description = "Today we introduce you two use cases from Stiftung Wendepunkt. Read along and get some inspiration on what to use Zircel for."

  
  +meta(title, date, description)

block intro 

  h1 Costumer Feedback, aka proof that you've been missing out
  p Not long ago we presented you with <a href="https://blog.zircel.com" target="blank">the use cases of Stiftung Wendepunkt</a>, to give you some ideas on how to use Zircel. Although you now have a better understanding on how to use Zircel, you might still not necessarily know why you should use it. That’s why in this post we’ll explain to you what makes Zircel unique.

block text
  h2 Use it on all levels you want
  p Zircel can already be helpful in rather simple ways, e.g. creating a survey. Even with a simple function like that, what makes it special is that you can integrate it on wherever level you want. On the one hand it could help you with your efficiency on an external level if you use it as a conversational way of getting feedback from your customers, or, on the other hand, as well as on an internal level if you use it to improve the conversation between different sub-organization within your firm.  
  
  h2 Independent usage without installation
  p You can start using Zircel right away and timely independent, on every web browser you want. There’s no need to install a software and read through a whole security script, you can just sign in, use the different templates of Zircel or design your own, and release your created application.   
  
  h2 It tracks data
  p On top of it all, Zircel is able to track data whenever you want it to and tell you exactly how many people have visited your application,. Especially in this day and age, where everything’s more customer-based, it is important that your customers can choose when and what they want to see and use. That’s why it's key to understand when and how your customers use your application , so you can improve and strengthen your customer relationship. How it works is that you can set up automated email to use your tracked data for your analytics, so you see problems that occurred during usage right on the spot.  
  

  cite "We were really surprised and happy about the increase in efficiency Zircel brought us. We improve our communication with end-users by generating joy and receiving more feedback. Moreover, we are able to analyze it more efficiently."
  
  p   - Andreas Wälchli, Head of Innovation, Stiftung Wendepunkt

  h2 Design whatever you want
  p Zircel has different templates and options you can include, such as text, image, video, etc. Besides that, you can design your own custom templates and add other parts to it or create customer components. What is special about Zircel ist that it lets you communicate in a circular or tree-like way, rather than just linear and one-directional. That means it lets you communicate in a two-way symmetric-, not just one-way asymmetric manner.  
  
  img(src="assets/tinified/feedback.png")

  h2 Use Zircel’s platform as a solution for multiple problems
  p What our clients are looking for the most is an easy tool for a number of problems, without having to install multiple programs. Zircel is the perfect platform for that, as it can be used in multiple ways and gives you solutions, which you can be reused and expanded to different parts of your company. So with reduced effort, you get an increased response rate on every level.   
  

  cite “Zircel’s platform enables us to work with full concentration on independent tasks such as tree logic, integrations or design. It is wonderful to see how different departments can build complex applications without help from IT.”
  
  
  p   - Andreas Wälchli, Head of Innovation, Stiftung Wendepunkt

  b Therefore, if you have one use case in mind, be sure you’ll come up with 10 more while you use it, which can be implemented right away.  
  
  p Not registered yet? No worries, try out our platform for free: <a href="https://zircel.com/" target="blank">zircel.com</a>  

  p Want to know how to use Zircel? Read all about it in this blogpost: <a href="https://blog.zircel.com/use-case.html" target="blank">The Use cases of Stiftung Wnedepunkt</a>
