extends ../base.pug

block content
   #blog-intro
   #overview
      a(href="teamIntroduction.html")
         .blog-chapter 
            img(src="assets/editor.png")  
            h2 Introducing the team of zircel and our mission to make the world a better place
            p Although Zircel can be used as an allround, fun tool, we’re not just about fun and simplifing processes. Learn what Zircel stands for and what we want to achieve with our awesome tool, besides making your life easier of course. Read more now.
      a(href="test2.html")
         .blog-chapter   
            h2 Second Blog
            p second blobdfdfdsf 

      