extends ../base.pug

block content

   h1 Blog

   p Welcome to the blog.

   #overview
      a(href="test.html")
         .blog-chapter   
            h2 First Blog
            p blabl

      a(href="test2.html")
         .blog-chapter   
            h2 Second Blog
            p second blobdfdfdsf 

      