extends ../layout.pug
include ../mixins.pug

block head

  - const author = "Jessica"
  - const title = "Use cases from Stiftung Wendepunkt"
  - const date = "2019-11-25"
  - const description = "Today we introduce you two use cases from Stiftung Wendepunkt. Read along and get some inspiration on what to use Zircel for."
  - const img = ""
  
  +meta(title, date, description)

block intro 

  h1 Why Zircel is the new tool that will change your productivity
  p Since Zircel can be used in many different ways, it can get kind of overwhelming. To help you understand how you can use Zircel we want to introduce some use cases that are practiced by the social organization Stiftung Wendepunkt. Find out why Zircel increased their productivity and sparked conversation.

  +authordate(author, date)

block text
    
  h2 Who is “Stiftung Wendepunkt”?
  p Stiftung Wendepunkt is a non-profit organization that helps people in difficult life situations to find their way back to society. Their activities include programs for temporary asylum and job seekers, long-term jobs, coaching, assisted living and many more.

  h2 How did Zircel make a difference?
  p They were looking for a tool to increase productivity, communication, and user engagement. That’s how Zircel came into the picture. With Zircel’s platform, they were able to create different use cases that improve communication internally and externally and which transform tasks into something fun to do. 

  h2 1. Use Case: Internal repository for customer relationship management (CRM) tool
  p In their first use case Zircel is used for the introduction of a new software applications, i.e. CRM tool.
  p The reasons were twofold. On the one hand, to internally spread the knowledge about the new tool they use Zircel to share tips and instructions. On the other hand, they gather feedback and open questions through Zircel’s creative interface and eventually even use Zircel to transfer data to their CRM.

  p As a result, they increased communication and efficiency internally and created an online knowledge repository for new software applications.

  h2 2. Use Case: Classical survey 
  p In a second use case, they used Zircel as a survey tool, to get info and feedback about an administrative question. So, for example, they wanted to know how many people still use a Fax machine, etc.
 
  p In their first implementation, they were unable to match the answers to the right end-users. Thus, it was not a big success. In the future this could be prevented in two ways: Firstly, through better analytics which allows a better mapping of data to a single user and secondly, through more precise questions that allow better data analysis.

  p Besides the identification problem, they noticed that they would get more feedback from people that were into new technologies and therefore had a good time filling out the information they otherwise would have just left out.

  p With these two use cases presented we want to give you a first insight into how versatile Zircel is. And be sure, there’s a lot more where that came from! A third use case is already in the pipeline.

  b To find out more, stay tuned!
  #umfrage
  
  p Try out our platform for free: <a href="https://zircel.com/" target="blank">zircel.com</a>

  p Try out our new CO2-Calculator, made with Zircel: <a href="https://co2.zircel.com" target="blank">co2.zircel.com</a>

