doctype html
html
  head
    script(src="https://zircel.com/dist/hello/component.js")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    block head

  body
    #blog-menu

      header
        #blog-start
          div.flexed
            span.z Z
            span.slash /
            span Blog
        button(class="menu-close") 

      nav
        h4 Conversations in Practice
        a(href="use-case.html") Use cases from Stiftung Wendepunkt
        a(href="how-to-get-started.html") How to get started with Zircel
        
        h4 Make a Change
        a(href="co2-calculator.html") CO2 Footprint Calculator
        
        h4 Inside Zircel
        a(href="about-us.html") Introducing the Team
        a(href="execution-tree.html") About Conversational Websites, Trees and Walls
        
        h4 Tech Notes
        a(href="quick-tip-live-preview.html") Preview With Real Content      
        
      footer 
        span &copy; #{new Date().getFullYear()}
        a(href="https://blog.zircel.com") zircel.com

    #blog-header 
      button(class="menu-burger")
      a#register(href="https://zircel.com") zircel.com

    #blog
      block content